## Importing data through api key

In [1]:
import pandas as pd
import requests

In [8]:
## API KEY PASTE
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=7f6b518baa13ce1de93171a3cf48a130&language=en-US&page=1')

## 6 col select code

In [9]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

## Df show

In [10]:
df

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,26.1332,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",25.2389,8.685
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,19.8566,8.571
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,12.9693,8.566
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,11.4362,8.500
5,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",16.8452,8.534
6,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,28.1523,8.525
7,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",7.7824,8.500
8,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,15.7817,8.500
9,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",19.0091,8.496
10,122,The Lord of the Rings: The Return of the King,2003-12-17,As armies mass for a final battle that will de...,18.3153,8.500
11,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",17.9878,8.500
12,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,23.9920,8.480
13,429,"The Good, the Bad and the Ugly",1966-12-22,While the Civil War rages on between the Union...,11.2338,8.500
14,157336,Interstellar,2014-11-05,The adventures of a group of explorers who mak...,40.5987,8.500
15,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,18.9639,8.463
16,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",14.1224,8.500
17,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,6.7863,8.500
18,12477,Grave of the Fireflies,1988-04-16,"In the final months of World War II, 14-year-o...",0.0088,8.446
19,637,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,8.3989,8.440

In [11]:
df.head()

,id,title,release_date,overview,popularity,vote_average
0,278,The Shawshank Redemption,1994-09-23,Imprisoned in the 1940s for the double murder ...,26.1332,8.700
1,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",25.2389,8.685
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,19.8566,8.571
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,12.9693,8.566
4,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,11.4362,8.500

## Get a Data from page 5

In [12]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=7f6b518baa13ce1de93171a3cf48a130&language=en-US&page=5')

In [17]:
df1=pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]
df1.head()

,id,title,release_date,overview,popularity,vote_average
0,8587,The Lion King,1994-06-15,"Young lion prince Simba, eager to one day beco...",15.2997,8.256
1,637920,Miracle in Cell No. 7,2019-10-10,"Separated from his daughter, a father with an ...",6.5789,8.300
2,29259,Le Trou,1960-03-18,Four prison inmates have been hatching a plan ...,2.5623,8.300
3,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,8.0955,8.247
4,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",10.3045,8.245

In [18]:
df1.shape

(20, 6)

In [19]:
df.shape

(20, 6)

## converting df1 to csv

In [20]:
df1.to_csv('movies.csv')

In [21]:
df1

,id,title,release_date,overview,popularity,vote_average
0,8587,The Lion King,1994-06-15,"Young lion prince Simba, eager to one day beco...",15.2997,8.256
1,637920,Miracle in Cell No. 7,2019-10-10,"Separated from his daughter, a father with an ...",6.5789,8.300
2,29259,Le Trou,1960-03-18,Four prison inmates have been hatching a plan ...,2.5623,8.300
3,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,8.0955,8.247
4,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",10.3045,8.245
5,572154,Rascal Does Not Dream of a Dreaming Girl,2019-06-15,"In Fujisawa, Sakuta Azusagawa is in his second...",3.0112,8.200
6,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,5.6815,8.200
7,630566,Clouds,2020-10-09,Young musician Zach Sobiech discovers his canc...,3.2291,8.240
8,447362,Life in a Year,2020-11-27,A 17 year old finds out that his girlfriend is...,4.3475,8.240
9,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,14.9494,8.237
10,603,The Matrix,1999-03-31,"Set in the 22nd century, The Matrix tells the ...",19.5564,8.236
11,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,21.7972,8.235
12,527641,Five Feet Apart,2019-03-14,Seventeen-year-old Stella spends most of her t...,7.8257,8.226
13,508965,Klaus,2019-11-08,A selfish postman and a reclusive toymaker for...,10.6509,8.226
14,25237,Come and See,1985-10-17,The invasion of a village in Belarus by German...,5.8542,8.226
15,654299,Out of the Clear Blue Sky,2019-12-24,"Returning to Earth as an imitator, the legenda...",3.4559,8.225
16,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",8.3427,8.225
17,568332,Taylor Swift: Reputation Stadium Tour,2018-12-31,Taylor Swift takes the stage in Dallas for the...,5.7355,8.224
18,857,Saving Private Ryan,1998-07-24,"As U.S. troops storm the beaches of Normandy, ...",11.4727,8.221
19,98,Gladiator,2000-05-04,"After the death of Emperor Marcus Aurelius, hi...",17.6495,8.221

In [22]:
df.to_csv('movies_page1.csv')